page-tabs {
    .badge {
        color: color($colors, primary);
    }


/*
    ion-icon {
        &[class*="spcustom-"] {
            // Instead of using the font-based icons
            // We're applying SVG masks
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            width: 1em;
            height: 1em;
        }
        // custom icons
        &[class*="spcustom--megaphone"] {
            mask-image: url(../assets/img/megaphone.svg);
        }
    }
*/
}
