<ion-tabs #rootTabs selectedIndex="1" tabsPlacement="top" tabsLayout="title-hide">
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="disc"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="mail" [tabBadge]="hasMessagesUnread?'1':''"></ion-tab>
</ion-tabs> 