
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PROFILE_HELP.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <p [translate]="'PROFILE_HELP.INFO'" [translateParams]="{value:maxShoutCount}"></p>

  <p>{{ 'PROFILE_HELP.INFO1' | translate }}</p>


  <img src="assets/img/help-shout.png" />

  <p>{{ 'PROFILE_HELP.INFO2' | translate }}</p>

</ion-content>
