page-profile {
    ion-avatar.profile > img {
        margin: auto;
        width: 40% !important;
        height: auto !important;
        border-radius: 50%;
        overflow: hidden;
     }

     ion-avatar .editProfile {
        top: -75px;
        left:55%;
     }

     .info {
         .svg-icon {
           width: 3.5em;    
           height: 3.5em;
           color: color($colors, primary);
         }
     }

      .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }

    textarea {
    }

    .messages-page-footer {
        padding-right: 0;

        .message-editor {
            padding-top: 1px;
            padding-bottom: 1px;
            
            margin-left: 2px;
            padding-left: 5px;
            margin-right:10px;
            background: white;
            border-radius: 3px;
        }

        .message-editor-button {
            box-shadow: none;
            width: 50px;
            height: 50px;
            font-size: 17px;
            margin: auto;
        }
    }
}
/*
.input-cover {
    position: static;
}
*/
