<ion-header>
</ion-header>
<ion-content #content>
  <ion-card *ngIf="user">
    <ion-card-content>
      <ion-avatar class="profile">
        <img [src]="user.image | climg" (click)="showProfileDetails()">
        <h1 text-center>{{user.name}}, {{age}}</h1>
        <button ion-fab mini class="editProfile" (click)="editProfile()">
          <svgicon icon="edit"></svgicon>
          <!--
            <ion-icon name="create"></ion-icon>
            -->
          </button>
      </ion-avatar>
      <ion-fab top right>
        <button ion-fab mini color="light" (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
      </ion-fab>
      <!--
      <button ion-button icon-right clear (click)="openSettings()"><ion-icon name="settings">Einstellungen </ion-icon></button>
-->
      <ion-list *ngIf="shouts.length > 0;else no_shouts">
        <ion-list-header>
          {{ 'PROFILE.HEADER' | translate }}
        </ion-list-header>
        <ion-item-sliding *ngFor="let shout of shouts">
          <ion-item text-wrap>
            <ion-avatar item-left>
              <img [src]="user.image | climg:true">
            </ion-avatar>
            <p>{{shout.createDate | amCalendar}}</p>
            <p><strong>{{shout.content}}</strong></p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button icon-only (click)="deleteShout(shout.$key)" color="accent"><ion-icon name="trash"></ion-icon></button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item text-wrap *ngIf="storingShout">    
            <ion-avatar item-left>
             <ion-spinner></ion-spinner>
            </ion-avatar>
            <p>{{ 'PROFILE.STORE_SHOUT' | translate }}</p>
            <p><strong>{{ 'WAIT' | translate }}</strong></p>
        </ion-item>

      </ion-list>
      <ng-template #no_shouts>
        <p class="info" padding-left padding-right text-center>
          <svgicon padding-bottom icon="megaphone"></svgicon>
          {{ 'PROFILE.NO_SHOUTS' | translate }}
        </p>
        <ion-list *ngIf="storingShout">
          <ion-item text-wrap >    
            <ion-avatar item-left>
             <ion-spinner></ion-spinner>
            </ion-avatar>
            <p>{{ 'PROFILE.STORE_SHOUT' | translate }}</p>
            <p><strong>{{ 'WAIT' | translate }}</strong></p>
          </ion-item>        
        </ion-list>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="messages-page-footer" position="bottom">

    <ion-textarea autosize rows="1" [(ngModel)]="shoutMessage" [disabled]="!canPostNewShouts" class="message-editor" [placeholder]="(canPostNewShouts ? 'PROFILE.PH_NEW_SHOUT':'PROFILE.PH_NO_SHOUT') | translate"
      maxlength="130" spellcheck="true" autocomplete="on"></ion-textarea>

    <ion-buttons end>
      <button *ngIf="canPostNewShouts" ion-button icon-only [disabled]="!shoutMessage" class="message-editor-button" (click)="sendShout()">
          <ion-icon name="send"></ion-icon>
      </button>
      <button *ngIf="!canPostNewShouts" ion-button icon-only class="message-editor-button" (click)="help()">
          <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>




  <!--

  <ion-toolbar *ngIf="canPostNewShouts;else no_post" color="primary" class="messages-page-footer" position="bottom">
    <ion-input [(ngModel)]="shoutMessage" (keypress)="onInputKeypress($event)" class="message-editor" [placeholder]="placeholder"
      maxlength="130"></ion-input>

    <ion-buttons end>
      <button ion-button icon-only [disabled]="!shoutMessage" class="message-editor-button" (click)="sendShout()">
          <ion-icon name="send"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
  <ng-template #no_post>
    <ion-toolbar color="primary" class="messages-page-footer" position="bottom">
      <ion-item class="message-editor">kein weiteren Shout's' möglich !</ion-item>
      <ion-buttons end>
        <button ion-button icon-only class="message-editor-button" (click)="sendShout()">
      <ion-icon name="help"></ion-icon>
    </button>
      </ion-buttons>
    </ion-toolbar>
  </ng-template>
-->
</ion-footer>