page-profile-edit {
    ion-content {
        .position {
            color:#FFFFFF;
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 1.5em;
            font-weight: bolder;
            text-shadow: 2px 2px 4px gray;
        }

        .container {
            background: #FFFFFF;
            border-radius: 5px;
            width:100%;
            height: 100%;

            img {
                border: 0px;
                margin: 0px;
                border-radius: 5px;
                width:100%;
                height: 100%;        
            }
        }

        .container.empty {
            padding-bottom:100%;
        }

        .selected {
            border: solid 2px color($colors, primary);
            opacity: 0.5;
        }


        .delete {
            bottom: 0px;
            right: 0px; 
            background-color: color($colors, accent);
            border-radius: 50%;            
            position: absolute;
        }

        .delete .svg-icon {
            width: 1.0em;
            height: 1.0em;
            color: white;
            margin: 5px;
         }

        .add .svg-icon {
            color: color($colors, light);
            position: absolute;
            width: 40%;
            height: 40%;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        .info {
            .label {
                color: color($colors, primary);
                font-weight: bold;
                padding: $content-padding;
            }
            .sub {
                padding: $content-padding;
            }
            padding-bottom: $content-padding;
        }

        textarea {
            color: color($colors, secondaryText);
        }
    }
}
