<ion-header>

  <ion-navbar> 
    <ion-title>{{ 'PROFILE_EDIT.TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="showFavourite" (click)="makeFavourite()">
        <svgicon icon="picfav" ></svgicon>
      </button>
      <button ion-button icon-only *ngIf="showChange" (click)="switchPhotos()">
        <svgicon icon="picchange" ></svgicon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <div class="container" *ngIf="userPictures[0]" >
          <img [src]="userPictures[0].name | climg" (click)="selectPhoto(0)" [ngClass]="{'selected':isSelected(0)}"/>
          <div class="delete" (click)="deletePhoto(0)">
            <svgicon icon="delete" ></svgicon>
          </div>
        </div>
        <div class="container empty" *ngIf="!userPictures[0]" (click)="uploadPhoto(0)">
          <svgicon icon="plus" class="add"></svgicon>
        </div>
        <div class="position">1</div>
      </ion-col>
      <ion-col no-padding>
        <ion-row *ngFor="let n of [1,2]">
          <ion-col>
            <div class="container" *ngIf="userPictures[n]">
              <img [src]="userPictures[n].name | climg" (click)="selectPhoto(n)" [ngClass]="{'selected':isSelected(n)}"/>
              <div class="delete" (click)="deletePhoto(n)">
                <svgicon icon="delete"></svgicon>
              </div>
            </div>
            <div class="container empty" *ngIf="!userPictures[n]" (click)="uploadPhoto(n)">
               <svgicon icon="plus" class="add"></svgicon>
            </div>
            <div class="position">{{n+1}}</div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let n of [3,4,5]">
        <div class="container" *ngIf="userPictures[n]" >
          <img [src]="userPictures[n].name | climg" (click)="selectPhoto(n)" [ngClass]="{'selected':isSelected(n)}"/>
          <div class="delete" (click)="deletePhoto(n)">
            <svgicon icon="delete"></svgicon>
          </div>
        </div>
        <div class="container empty" *ngIf="!userPictures[n]" (click)="uploadPhoto(n)">
          <svgicon icon="plus" class="add"></svgicon>
        </div>
        <div class="position">{{n+1}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <form [formGroup]="form" *ngIf="formReady">
  <div class="info">
    <div class="label" [translate]="'PROFILE_EDIT.INFO_USER'" [translateParams]="{name:user?.name }"></div>
    <ion-item no-lines>
      <ion-textarea type="textarea" formControlName="info" rows="4" maxlength="300"></ion-textarea>
    </ion-item>

    <div class="label">{{ 'PROFILE_EDIT.BIRTHDAY' | translate }}</div>
    <ion-item no-lines>
      <ion-datetime displayFormat="DD MMM YYYY" pickerFormat ="DD MMM YYYY" formControlName="birthdate" placeholder="bitte wählen"></ion-datetime>
    </ion-item>
    <div class="sub">{{ 'PROFILE_EDIT.BIRTHDAY_INFO' | translate }}</div>

  </div>
  </form>
</ion-content>