<ion-header>
</ion-header>

<ion-content padding-top >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div swing-stack #myswing1 class="swing-card-stack" [stackConfig]="stackConfig" (throwin)="onThrowIn($event)" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)"
    (throwoutend)="onThrowOutEnd($event)" id="card-stack">
    <ng-container *ngIf="shouts.length>0">
      <ion-card #swingcards swing-card *ngFor="let shout of shouts; trackBy: trackByShoutId" (click)="showShoutDetails(shout)">
        <div class="card-image">
          <img [src]="shout.user.image | climg" />
          <img src="assets/img/like.png" class="ovl like" />
          <img src="assets/img/dislike.png" class="ovl dislike" />
        </div> 
        <ion-card-content no-padding>
          <ion-card-title padding-left>{{shout.user.name}}</ion-card-title>
          <p padding>{{shout.content}}</p>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>

  <div *ngIf="shouts.length<=0" class="anim-container">
    <div class="center">
      <div class="load">
        <svgicon icon="megaphone" class="center"></svgicon>
      </div>

    </div>


    <div *ngIf="!noShoutsFound; else notFound" class="centerText"> 
        {{ 'HOME.SEARCH' | translate }}
    </div> 
    <ng-template #notFound>   
      <div  class="centerText">
        {{ 'HOME.NO_SHOUTS' | translate }}
        <div><button margin-top ion-button (click)="gotoProfile()">{{ 'HOME.NEW_SHOUT' | translate }}</button></div>
      </div>
    </ng-template>
  </div>

</ion-content>

<div class="card-stack-button-bar" *ngIf="shouts.length>0">
  <ion-grid>
    <ion-row text-center>
      <ion-col offset-2 col-4>
        <button ion-button icon-only color="btnBack" (click)="throwOut(false)">
          <svgicon icon="delete" class="btnNo"></svgicon>
        </button>

      </ion-col>
      <ion-col col-4>
        <button ion-button icon-only color="btnBack" (click)="throwOut(true)">
        <svgicon icon="like" class="btnYes"></svgicon>
      </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<!--
<ion-footer>
  <ion-toolbar>
    <ion-buttons text-center>
      <button ion-button icon-only class="btn">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
      <button ion-button icon-only class="btn">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
-->