page-home {

  ion-card {
  
    ion-card-content {
      background-color: $list-background-color;
    }

    ion-card-title {
      padding: 0px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

 
  }

  .btnYes {
    color: color($colors, btnYes);
  }
  .btnNo {
    color: color($colors, btnNo);
  }

  .anim-container {
    //display: inline-block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;

    .center {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);    
    }
    .centerText {
      position: fixed;
      text-align: center;
      top: calc(50% + 70px);
      width: 100%;
    }
  
    .svg-icon {
      color: white;
      transform: scale(2.5);
      //text-shadow:-1px -1px #333;
    }
  }
}




.load {
  margin: 150px auto;
  width: 100px;
  height: 100px;
  /** height is required as absolute value **/
  //background-color: #F08080;
  background-color: color($colors, primary);
  border-radius: 100px;
  position:relative;

   @include animation('pulse 2000ms linear infinite');
}

.load:after,
.load:before {
  display: inline-block;
  margin: auto;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100px;
  //background-color: #CD5C5C;
  background-color: color($colors, primaryDark);
}

.load:after {
  z-index: -100;
  @include animation('outer-ripple 2000ms linear infinite');
}

.load:before {
  z-index: -200;
  @include animation('inner-ripple 2000ms linear infinite');
}



@include keyframes(pulse) {
 0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@include keyframes(outer-ripple) {
 0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  } 
}

@include keyframes(inner-ripple) {
 0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}