<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <div class="main-label">{{ 'SETTINGS.FILTER_TITLE' | translate }}</div>
    <ion-card>
      <ion-card-header>
        {{ 'SETTINGS.SHOW_HEADER' | translate }}
      </ion-card-header>

      <ion-card-content>
        <ion-list radio-group no-lines formControlName="show">
          <ion-item>
            <ion-label>{{ 'SETTINGS.SHOW_ALL' | translate }}</ion-label>
            <ion-radio value="a"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'SETTINGS.SHOW_MAN' | translate }}</ion-label>
            <ion-radio value="m"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'SETTINGS.SHOW_WOMAN' | translate }}</ion-label>
            <ion-radio value="f" ></ion-radio>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header [translate]="'SETTINGS.SEARCH_RANGE'" [translateParams]="{value: options.searchRange}">
      </ion-card-header>

      <ion-card-content>
        <ion-range min="0" max="100" formControlName="searchRange">
        </ion-range>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        {{ 'SETTINGS.AGE' | translate }} {{options.ageRange.lower}}-{{options.ageRange.upper}}<span *ngIf="options.ageRange.upper==55" >+</span>
      </ion-card-header>

      <ion-card-content>
        <ion-range min="16" max="55" dualKnobs="true" formControlName="ageRange">
        </ion-range>
      </ion-card-content>
    </ion-card>

    <div class="main-label">{{ 'SETTINGS.APP_SETTINGS' | translate }}</div>
    <ion-card>
      <ion-card-header>
        {{ 'SETTINGS.NOTIFICATION_HEADER' | translate }}
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>{{ 'SETTINGS.NOTIFICATION_ALL' | translate }}</ion-label>
          <ion-toggle formControlName="notifyShout" (ngModelChange)="notificationChanged($event)"></ion-toggle>
        </ion-item>
        <!--
        <ion-item>
          <ion-label>Nachrichten</ion-label>
          <ion-toggle formControlName="notifyMessage"></ion-toggle>
        </ion-item>
        -->
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content no-padding>
        <button ion-button full clear (click)="share()">{{ 'SETTINGS.SHARE' | translate }}</button>
      </ion-card-content>
    </ion-card>


    <div class="main-label">{{ 'SETTINGS.ABOUT' | translate }}</div>
    <ion-card>
      <ion-card-header>
        {{ 'SETTINGS.LEGAL' | translate }}
      </ion-card-header>

      <ion-card-content>
        <ion-item (click)="openPrivacy()">
          {{ 'PRIVACY' | translate }}
        </ion-item>
        <ion-item (click)="openDisclaimer()">
          {{ 'DISCLAIMER' | translate }}
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content no-padding>
        <button ion-button full clear (click)="logout()">{{ 'SETTINGS.LOGOUT' | translate }}</button>
      </ion-card-content>
    </ion-card>
  </form>
  <div text-center padding class="company">
    <svgicon padding-bottom icon="logo-blank-circle"></svgicon>
    {{appName}}<br/>
    Version: {{versionNumber}}<br/>
    &copy; iBrains media gmbh, 2017
  </div>
  <ion-card>
    <ion-card-content no-padding>
      <button ion-button full clear color="accent" (click)="deleteAccount()">{{ 'SETTINGS.DELETE' | translate }}</button>
    </ion-card-content>
  </ion-card>

</ion-content>