page-settings {


    .card {
        /*
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        */
    }

    .card-header {
       color: color($colors, secondaryText);
 
    }

    ion-card-content {
        ion-label {
            color: color($colors, secondaryText);
        }
    }

    .card-ios {
        margin-top : $card-ios-margin-top;
        margin-bottom : $card-ios-margin-bottom;
    }
    .card-md {
        margin-top : $card-md-margin-top;
        margin-bottom : $card-md-margin-bottom;
    }

     .main-label {
        padding-bottom: 0px;
    }
    
    .company {
        .svg-icon {
            width: 3.5em;    
            height: 3.5em;
            color: color($colors, primary);
        }
    }
}

.alert-button.delButton {
    color: color($colors, accent);
}
