// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Mixins
// --------------------------------------------------
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  animation: #{$str};      
}



.svg-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  vertical-align: middle;
}


// Hack for ios-Tabs
// --------------------------------------------------
/*
.tabs-ios[tabsLayout=title-hide] .tab-button {
  margin-top: 14px;
}
*/



 // Global Styles
// --------------------------------------------------
 .main-label {
    color: color($colors, primary);
    font-weight: bold;
    padding: $content-padding;
}




// Card Stack
// --------------------------------------------------
.swing-card-stack {
  width: 100%;
  height: calc(100% - #{$home-footerbar-height}); 
  position: relative;
 
  ion-card { 
    box-shadow: 0 1px 1px rgba(128, 128, 128, 0.1);
    margin: 1px 12px 12px 12px;
   // border-radius: 5px;
    position: absolute;
//    text-align: center;
    //top: 3%;
    height: 100%;
  }

  img.like {
    position:absolute;
    top:20px;
    right:40px;
    width:30%;
    opacity: 0;
  }

  img.dislike {
    width:30%;
    position:absolute;
    top:20px;
    left:40px;
    opacity: 0;
  }
}

 .card-stack-button-bar {
    position: absolute;
    bottom: 0;
    left: 0; 
    z-index: 10;
    display: block;
    width: 100%;
    height: $home-footerbar-height; 
    //padding-bottom: 10px;

    button {
      width:50px;
      height: 50px; 
      border-radius: 50%;

      //    background-color: white;
      //  border-color: white;
      font-size: 1.5em;
    }
 }

@include keyframes(throwout-yes) {
 0% {
  }
  100% {
    transform: translate(800px,-400px) rotate(-90deg);
  }
}
@include keyframes(throwout-no) {
 0% {
  }
  100% {
    transform: translate(-800px,-400px) rotate(90deg);
  }
}

.throwout-like {
  @include animation('throwout-yes 400ms ease-in');
}
.throwout-dislike {
  @include animation('throwout-no 400ms ease-in');
}