<ion-header>

  <ion-navbar>
    <ion-title>{{ 'REQUESTS.TITLE' | translate }}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <div class="subject">{{shoutRequest.subject}}</div>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <div swing-stack #myswing1 class="swing-card-stack" [stackConfig]="stackConfig" (throwin)="onThrowIn($event)" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)"
    (throwoutend)="onThrowOutEnd($event)" id="card-stack">
    <ng-container *ngIf="users.length>0">
      <ion-card #swingcards swing-card *ngFor="let user of users" (click)="showUserDetails(user)">
        <div class="card-image">
          <img [src]="user.image | climg" />
          <img src="assets/img/like.png" class="ovl like" />
          <img src="assets/img/dislike.png" class="ovl dislike" />
        </div>
        <ion-card-content no-padding>
          <ion-card-title padding-left>{{ user.name}}</ion-card-title>
        </ion-card-content>


      </ion-card>

    </ng-container>

  </div>

  <div *ngIf="users.length<=0" class="no-content">
    <div class="center" (click)="goBack()">
      <svgicon icon="request"></svgicon>
      <div>{{ 'REQUESTS.NO_REQUESTS' | translate }}</div>
    </div>
  </div>

</ion-content>
<div class="card-stack-button-bar" *ngIf="users.length>0">
  <ion-grid>
    <ion-row text-center>
      <ion-col offset-2 col-4>
        <button ion-button icon-only color="btnBack" (click)="throwOut(false)">
          <!--
          <ion-icon name="close" color="btnNo"></ion-icon>
          -->
          <svgicon icon="delete" class="btnNo"></svgicon>

        </button>

      </ion-col>
      <ion-col col-4>
        <button ion-button icon-only color="btnBack" (click)="throwOut(true)">
          <!--
        <ion-icon name="checkmark" color="btnYes" ></ion-icon>
        -->
        <svgicon icon="like" class="btnYes"></svgicon>
      </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>