page-requests {
  ion-card {
  
    ion-card-content {
      background-color: $list-background-color;
    }

    ion-card-title {
      padding: 0px;
    //  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

 
  }  
  .subject {
    color: color($colors, secondaryText);
    padding-left: $content-padding; 
    padding-right: $content-padding; 

    line-height: 1.4em;
    //height: 3em;       
    overflow: hidden;  
    //white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 3em;
  }


  .no-content {
    width:100%;
    height:100%;
    text-align: center;
    position:absolute;
    top:0;
    left:0;
    
    .center {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);    
    }
    .svg-icon {
      color: color($colors, primary);
      width: 20vh;
      height:20vh;
    }
  }

  .btnYes {
    color: color($colors, btnYes);
  }
  .btnNo {
    color: color($colors, btnNo);
  }
}
