page-tutorial {
  
  ion-footer {
    font-size: 1.1rem;
    color: color($colors, graytext);

    a {
      color: color($colors, graytext);
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 1.5;
    color: color($colors, graytext);

    b {
      color: #000000;
    }
  }


  /*
    ion-slides {
        height: 60vh;
    } 
*/
  

/*
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
*/
/*
  .slide-title {
    margin-top: 2.8rem;
  }
  */
/*
  .slide-image {
    //max-height: 40%;
    max-width: 80%; 
    //margin: 16px 0;
  }
  b {
    font-weight: 500;
  }
*/


}
