<!--
<ion-header no-shadow>
  <ion-navbar>  
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>    
  </ion-navbar> 
</ion-header> 
-->
<ion-content text-center padding>
    <ion-slides pager="true">
        <ion-slide *ngFor="let slide of slides">
            <ion-grid>
            <ion-row> 
                <ion-col>
                    <p [innerHTML]="slide.description"></p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <img [src]="slide.image" />
                </ion-col>
            </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides> 
</ion-content>
<ion-footer padding text-center>
    <button ion-button margin-bottom  (click)="signInWithFacebook()">{{ 'TUTORIAL.FB_LOGIN' | translate }}</button>
    <div class="footer">{{ 'TUTORIAL.FOOTER_1' | translate }}
        <ion-icon name="arrow-down" (click)="openTutorialPrivacy()"></ion-icon>
    </div>
    <div>{{ 'TUTORIAL.FOOTER_2' | translate }} 
        <a href="#" (click)="openDisclaimer()">{{ 'DISCLAIMER' | translate }}</a> {{ 'TUTORIAL.FOOTER_3' | translate }}
        <a href="#" (click)="openPrivacy()">{{ 'PRIVACY' | translate }}</a> {{ 'TUTORIAL.FOOTER_4' | translate }}
    </div>
</ion-footer>