ion-popover.messages-menu {
 ion-list {
       margin: 0px;
    }
}


page-messages {

    .spinnerCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }


    .messages-page-navbar {
        .chat-picture {
            width: 35px;
            border-radius: 50%;
            float: left;
        }

        .chat-title {
           line-height: 35px;
            //float: left !important;
        }
    }

    .subject {
        color: color($colors, secondaryText);
        //padding-left: $content-padding; 
        //padding-right: $content-padding; 
        font-size: 1.2rem;
        //line-height: 1.4em;
        //height: 3em;       
        overflow: hidden;  
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        min-height: 1.2rem;
    }
    

    .messages-page-footer {
        padding-right: 0;

        .message-editor {
            padding-top: 1px;
            padding-bottom: 1px;
            margin-left: 2px;
            padding-left: 5px;
            margin-right:10px;
            background: white;
            border-radius: 3px;
        }

        .message-editor-button {
            box-shadow: none;
            width: 50px;
            height: 50px;
            font-size: 17px;
            margin: auto;
        }
    }

    ion-content {
        .messages {
            .message-wrapper {
                margin-bottom: 9px;

                &::after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
            

        }

    }

}
