<ion-header>
  <ion-navbar class="messages-page-navbar">
    <ion-buttons>
      <img class="chat-picture" [src]="chat?.image | climg">
    </ion-buttons>
    <ion-title class="chat-title" (click)="manageChat()">{{chat?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="options-button" (click)="showOptions($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="messages-page-content">

  <div *ngIf="!loadingMessages; else loading">
    <div class="messages">
      <div class="message-wrapper">
        <chatmessage [chat]="chat" [userId]="ownUserId" (clickAvatar)="showProfile($event)"></chatmessage>
      </div>
      <div *ngFor="let message of messages" class="message-wrapper">
        <chatmessage *ngIf="message?.user?.$key" [message]="message" [userId]="ownUserId" (clickAvatar)="showProfile($event)"></chatmessage>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="spinnerCenter">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>


</ion-content>
<ion-footer>
  <ion-toolbar color="primary" class="messages-page-footer" position="bottom">
    <!--ion-textarea autosize rows="1" [(ngModel)]="message" (keyup.enter)="sendMessage()" class="message-editor" [placeholder]="'MESSAGES.PH_NEW_MESSAGE' | translate"
      maxlength="300" spellcheck="true" autocomplete="on"></ion-textarea-->
    <ion-textarea autosize rows="1" [(ngModel)]="message" class="message-editor" [placeholder]="'MESSAGES.PH_NEW_MESSAGE' | translate"
      maxlength="300" spellcheck="true" autocomplete="on"></ion-textarea>

    <ion-buttons end>
      <button ion-button icon-only [disabled]="!message" class="message-editor-button" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>