<ion-header>
</ion-header>
<ion-content>


  <div *ngIf="hasContent;else no_content">
    <div *ngIf="requests?.length>0" class="requests">
      <div class="main-label">{{'CHATS.REQUESTS' | translate}}</div>
      <ion-list #requestlist>
        <ion-item-sliding *ngFor="let r of requests">
          <ion-item  (click)="openRequest(r)">
            <ion-avatar item-left>
              <img [src]="user.image | climg">
              <div *ngIf="r.isNew" class="badge"></div>
            </ion-avatar>
            <h2>{{r.subject}}</h2>
            <p [translate]="'CHATS.NEW_REQUESTS'" [translateParams]="{value: r.users.length}"></p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button icon-only (click)="deleteRequest(r)" color="accent"><ion-icon name="trash"></ion-icon></button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <div *ngIf="chats?.length>0" class="chats">
      <div class="main-label">{{'CHATS.CHATS' | translate}}</div>
      <ion-list #chatlist>
        <ion-item-sliding *ngFor="let c of chats">
            <ion-item *ngIf="c.chat|async" (click)="openChat(c)">
              <ion-avatar item-left>
                <img [src]="(c.chat|async)?.image | climg">
                <div *ngIf="c.unreadMessages>0" class="badge"></div>
              </ion-avatar> 
              <h2>{{ (c.chat | async )?.name}}</h2>
              <p>{{(c.chat | async )?.subject}}</p>
              <!--
              <ion-badge item-right *ngIf="c.unreadMessages>0">{{c.unreadMessages}}</ion-badge>
              -->
          </ion-item>
          <ion-item-options side="right">
            <button ion-button icon-only (click)="deleteChat(c)" color="accent"><ion-icon name="trash"></ion-icon></button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
  <ng-template #no_content> 
    <div class="no-content">
      <h3>{{'CHATS.NO_CONTENT_HEADER' | translate}}</h3>
      <button ion-button icon-only color="primary" (click)="createShout()">
        <svgicon icon="megaphone"></svgicon>
      </button>
        <p>{{'CHATS.NO_CONTENT' | translate}}</p>
    </div>
  </ng-template>

</ion-content>