page-chats {

    .badge {
        position:absolute;
        top: 15px;
        left: 45px;
        width:10px;
        height:10px;
        border-radius: 50%;
        background-color: color($colors, accent);
    }


    .no-content { 
        padding-left: $content-padding;
        padding-right: $content-padding;
        padding-top: 20vh;

        button {
            height: auto !important;
            border-radius: 50%;
        }


        width: 100%;
        height: 100%;
        text-align: center;

       
        .svg-icon {
            width: 20vh;
            height:20vh;
            padding: 10px;
        }        
    }



}
