<ion-header>

  <ion-navbar>
    <ion-title>{{'DISCLAIMER' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p><strong>§1 Vorbestimmungen</strong></p>
  <p>Alle nachfolgenden Bestimmungen und Regeln beziehen sich auf den Internetservice von iBrains-Media-Solutions GmbH unter
    der Domain sportshout.de und alle weiteren Domains und IP-Adressen, die von diesem Service direkt genutzt oder angeboten
    werden (nachfolgend als &#8222;sportshout.de&#8220; bezeichnet). Durch das Nutzen von sportshout.de, egal in welcher
    Form, erklärt der Nutzer verbindlich, diese Nutzungsbedingungen gelesen und verstanden zu haben und damit einverstanden
    zu sein.</p>
  <p><strong>§2 Anzeigen und Foren</strong></p>
  <p>Das Mindestalter für die Teilnahme beträgt 18 Jahre. Für den Inhalt einer Anzeige ist allein der Autor der Anzeige verantwortlich.
    Es liegt in seinem persönlichen Ermessen, seine persönlichen Daten in ein Onlineformular von sportshout.de einzutragen.
    Es ist ausdrücklich untersagt, in Anzeigen und Beiträgen sexuelle, pornographische, sittenwidrige, politisch radikale
    oder sonstige gesetzeswidrige Inhalte zu hinterlegen. Es ist nicht gestattet, Anzeigen für Dritte aufzugeben. Es ist
    ebenso untersagt, kommerzielle Werbung für zu machen. Der Nutzer versichert, dass er mit seiner Anmeldung/Nutzung keine
    gewerblichen oder geschäftlichen Interessen verfolgt und verpflichtet sich die Webseiten von sportshout.de nicht gewerblich
    oder geschäftlich zu nutzen. Der Nutzer verpflichtet sich, in seinen Anzeigen und Beiträgen keinerlei Warenzeichen-,
    Patent-, oder andere Rechte Dritter zu verletzen, sowie in der Personenbeschreibung (Profil) keine Realnamen, Adressen,
    Telefonnummern, Faxnummern, E-Mail-Adressen, URLs oder sonstige Kontaktdaten nennen oder zur Nennung solcher Daten aufzurufen.
    Profilinhalte müssen auf Deutsch oder Englisch verfasst sein. Kontaktanzeigen in den Diskussionsforen sind nicht gestattet.
    sportshout.de behält sich das Recht vor, Beiträge in den Diskussionsforen, sowie Kontaktanzeigen ohne Angabe von Gründen
    zu löschen.</p>
  <p><strong>§3 Antworten auf Kontaktanzeigen &amp; Diskussionsbeiträge</strong></p>
  <p>Für den Inhalt von Antworten auf Shouts ist allein der Autor der Antwort verantwortlich. Es ist ausdrücklich untersagt
    in Antworten sexuelle, pornographische, sittenwidrige, politisch radikale oder sonstige gesetzeswidrige Inhalte zu hinterlegen.
    Es ist untersagt, massenweise andere Teilnehmer mit immer gleichlautenden oder leicht geänderten Shouts (Spamming) anzuschreiben.
    Es ist weiterhin ausdrücklich untersagt, andere Teilnehmer zu sexuellen Handlungen aufzufordern, darum zu bitten oder
    diese selbst anzubieten.</p>
  <p><strong>§4 Datenschutz und Privatsphäre</strong></p>
  <p>Alle Informationen zum Datenschutz findest du in unserer <a (click)="openPrivacy()" >Datenschutzerklärung</a>.</p>
  <p><strong>§5 Urheberrechte</strong></p>
  <p>Die Website und alle auf ihr oder in Unterdateien erscheinenden Textbeiträge, Grafiken, Bildelemente und Logos sind für
    sportshout.de urheberrechtlich geschützt. Das Herunterladen und der sonstige Gebrauch derartigen Materials sind nur zulässig,
    soweit das Urhebergesetz dies ausdrücklich gestattet. Die Nutzung ist ausschließlich für private Zwecke erlaubt. Teilnehmer
    dürfen das für sportshout.de urheberrechtlich geschützte Material nicht vervielfältigen, veröffentlichen, nachbilden,
    übertragen, verbreiten oder kommerziell verwerten, und zwar weder auf konventionellem Wege noch in elektronischer Form.
    Mit der Teilnahme an dem auf der Website ermöglichten Informationsaustausch überträgt der Teilnehmer an sportshout.de
    ein unwiderrufliches und unbefristetes Recht zur uneingeschränkten Nutzung seiner Teilnehmerbeiträge, insbesondere das
    Recht zur Vervielfältigung, zur Veröffentlichung, zur Bearbeitung sowie zur Speicherung und Veröffentlichung.</p>
  <p><strong>§6 Automatisierte Abfragen</strong></p>
  <p>Das automatisierte Abfragen der Seiten von sportshout.de mittels Scripten oder Programmen ist untersagt. Wir behalten uns
    vor, rechtliche Schritte einzuleiten.</p>
  <p><strong>§7 Haftung</strong></p>
  <p><strong>7.1</strong></p>
  <p>sportshout.de übernimmt keinerlei Haftung dafür, dass die Website erreicht werden kann oder dafür, dass Teilnehmerbeiträge
    im Rahmen des angebotenen Informationsaustausches rechtzeitig und vollständig übermittelt werden. Ebenso ausgeschlossen
    ist eine Haftung von sportshout.de für die technische Verwertbarkeit von Teilnehmerbeiträgen, insbesondere die Virenfreiheit
    mitübersandter Dateien.</p>
  <p><strong>7.2</strong></p>
  <p>Für die von Teilnehmern eingestellten Beiträge übernimmt sportshout.de keinerlei Haftung. Jeder Teilnehmer verpflichtet
    sich, sportshout.de von allen Ansprüchen freizustellen, die Dritte wegen seiner Teilnehmerbeiträge im In- und/oder Ausland
    geltend machen. Soweit Teilnehmerbeiträge nach vorheriger Registrierung von Teilnehmerdaten eingestellt worden sind,
    stellt der registrierte Teilnehmer sportshout.de auch insoweit von sämtlichen Ansprüchen Dritter frei, wie diese Teilnehmerbeiträge
    nicht von dem registrierten Teilnehmer selbst, sondern von Dritten eingestellt worden sind. Die vorgenannten Freistellungen
    beziehen sich insbesondere, aber nicht ausschließlich, auf Ansprüche, die Dritte wegen der Verletzung von Urheber- oder
    vergleichbaren Rechten, wegen der Verletzung wettbewerbsrechtlicher Vorschriften sowie wegen beleidigender oder sonst
    rechtswidriger Inhalte geltend machen. Zu der Freistellungsverpflichtung gehört insbesondere die Übernahme angemessener
    Rechtsverfolgungskosten, die sportshout.de entstehen.</p>
  <p><strong>7.3</strong></p>
  <p>sportshout.de kann Nutzer, die den ordnungsgemäßen und friedlichen Ablauf des Onlineangebotes stören, von der weiteren
    Nutzung einzelner oder aller Angebote von sportshout.de ausschließen. Eventuell gezahlte Mitgliedsbeiträge werden in
    diesem Falle nicht rückerstattet. Nimmt ein ausgeschlossener Nutzer trotzdem, z.B. unter anderer Identität am Onlineangebot
    von sportshout.de für das er ausgeschlossen wurde teil, so behält sich sportshout.de rechtliche Schritte vor. sportshout.de
    behält sich vor, auf Verstöße dieser Nutzungsbedingungen hin Schadenersatz geltend zu machen. Hierbei beträgt die Mindestsumme
    des Schadenersatzes Euro 10.000,-.</p>
  <p><strong>7.4</strong></p>
  <p>sportshout.de haftet nicht für Schäden und/oder Verletzungen, die infolge von Veranstaltungen entstehen, die durch die
    Benutzer selbst oder Kooperationspartner von sportshout.de veranstaltet werden.</p>
  <p><strong>7.5</strong></p>
  <p>Die Events stellen nichtkommerzielle Veranstaltungen dar, die von unseren Mitgliedern privat organisiert werden. Die Eventinitiatoren
    schließen jede Haftung außer Vorsatz und grobe Fahrlässigkeit für Schäden im Zusammenhang mit dem organisierten Event
    aus.</p>
  <p><strong>§8 Kosten</strong></p>
  <p>Die Nutzung des Online-Angebots von sportshout.de ist grundsätzlich kostenlos.</p>
  <p><strong>§9 Kündigung</strong></p>
  <p>Die Mitgliedschaft muss nicht gekündigt werden. Der Nutzer kann sein Profil jederzeit selbst komplett unter &#8222;Mein
    Profil&#8220; / &#8222;Profil löschen&#8220; löschen.</p>
  <p><strong>§10 Sonstiges</strong></p>
  <p>sportshout.de behält sich vor, diese Teilnahmebedingungen in zumutbarer Weise zu ändern. Die aktuell geltenden Teilnahmebedingungen
    können jederzeit über die Website eingesehen werden. Gerichtsstand für alle Rechtsstreitigkeiten ist München, soweit
    der Teilnehmer Kaufmann ist. sportshout.de ist berechtigt, am allgemeinen Gerichtsstand des Teilnehmers zu klagen.</p>
  <p>Wie Sie uns kontaktieren können</p>
  <p>iBrains-Media-Solutions GmbH<br /> Haslach 79</p>
  <p>D-94568 St. Oswald</p>
  <p>Fax: (+49) 8558-91034</p>

</ion-content>