<img *ngIf="!isOwner" class="message-image" [src]="message.user?.image | climg" (click)="clickProfile(message.userId)"/>
  <div class="message" [ngClass]="getMessageClass(message)">
    <div class="message-content message-content-text" [innerHTML]="getMessage(message) | pretty"></div>
    <span class="message-timestamp"> 
      <strong *ngIf="!isOwner" >{{message.user?.name}}, </strong>{{ message.createDate | amTimeAgo}}
    </span>
  </div>
