chatmessage {
    .message-image {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        float: left;

    }

    .message {
        display: inline-block;
        position: relative;
        max-width: 40vh;
        border-radius: 7px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .15);

        &.message-mine {
            float: right;
            background-color: color($colors, messageMine);

            &::before {
                right: -11px;
                background-image: url(../assets/img/message-mine.png)
            }
        }

        &.message-other {
            float: left;
            background-color: color($colors, messageOther);

            &::before {
                left: -11px;
                background-image: url(../assets/img/message-other.png)
            }
        }

        &.shout-mine {
            float: right;
            background-color: color($colors, messageShout);
        }
        &.shout-other {
            float: left;
            background-color: color($colors, messageShout);
        }


        &.message-leaved {
            float: left;
            background-color: color($colors, messageLeaved);
        }
        
        &.message-deleted {
            float: left;
            background-color: color($colors, messageDeleted);
        }

        &.message-other::before, &.message-mine::before,
        &.shout-other::before, &.shout-mine::before {
            content: "";
            position: absolute;
            bottom: 3px; 
            width: 12px;
            height: 19px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .message-content {
            padding: 5px 7px;
            word-wrap: break-word;

            &::after {
                //content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
                //display: inline;
            }
        }
        .message-name { 
            font-weight: bold;
            padding: 5px 7px;
        }

        .message-timestamp {
            padding: 5px 7px;
            // position: absolute;
            // bottom: 2px;
            // right: 7px;
            font-size: 10px;
            color: gray;
        }
    }            
}
