page-shout-details {
    ion-slides {
        top: 0px;
        width:100%;
        height: auto;
    }

    ion-slide {
        img {
            width: 100% !important;
        }
    }

    ion-spinner {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }

    hr {
        height: 1px;
    }

    .info {
        padding-left: 5px;
        padding-right: 5px;
         border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        .name {
            font-size: 1.8rem;
            span {
                color: color($colors, primaryText);
            }
        }
    }

    .description {
        //white-space: pre-line;
 //       border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
 

    .footer { 
         button {
            width:50px;
            height: 50px; 
            border-radius: 50%;

            //    background-color: white;
            //  border-color: white;
            font-size: 1.5em;
            color: white;
        }

    }
    .footer::before {
        background-image: none;
    }
    
    .fixed-content {
        margin-bottom: 0px !important;
    }
    .scroll-content {
        margin-bottom: 0px !important;
        padding-bottom: 50px + $grid-padding-width*2 !important;
    }

}
