<!--
  Generated template for the ShoutDetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="finishedLoading;else loading">
    <ion-slides pager=true (click)="goBack()">
      <ion-slide *ngFor="let image of images">
        <img [src]="image.name | climg" />
      </ion-slide>
    </ion-slides>
    <div >
     <ion-row  class="info">
      <ion-col col-10 align-self-start>
        <div span class="name"><span>{{user.name}}</span>, {{age}}</div>
        <div *ngIf="shout">
        <ion-icon name="pin"></ion-icon> <span [translate]="'SHOUT_DETAILS.DISTANCE'" [translateParams]="{value: distance }"></span></div>
      </ion-col>
      <ion-col align-self-start>
        <button ion-button icon-only clear class="options-button" (click)="showOptions($event)"><ion-icon name="more"></ion-icon></button>
      </ion-col>
      </ion-row>
    
      
    </div>


    <div *ngIf="user.info" padding class="description" [innerHTML]="user.info | pretty"></div>

    <ion-item *ngIf="shout" no-lines text-wrap>
      <ion-avatar item-left>
        <svgicon icon="megaphone"></svgicon>
      </ion-avatar>
      <p>{{shout.createDate | amCalendar}}</p>
      <p><strong>{{shout.content}}</strong></p>
    </ion-item>
  </div>
  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>


<ion-footer *ngIf="shout" transparent>
  <ion-grid>
    <ion-row text-center>
      <ion-col offset-2 col-4>
        <button ion-button icon-only color="btnNo" (click)="vote(false)">
          <!--
      <ion-icon name="close" color="btnBack"></ion-icon>
      -->
       <svgicon icon="delete" class="btnNo"></svgicon>
    </button>

      </ion-col>
      <ion-col col-4>
        <button ion-button icon-only color="btnYes" (click)="vote(true)">
          <!--
    <ion-icon name="checkmark" color="btnBack"></ion-icon>
    -->
            <svgicon icon="like" class="btnYes"></svgicon>

  </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>