page-tutorial-privacy {

    hr {
      margin-bottom: 100px;
    }

    h1,h5 {
      color: color($colors, graytext);    
    }



   p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;

    color: color($colors, graytext);
  }
}
