
<ion-content padding no-bounce text-center>
    <h1><ion-icon name="arrow-up" (click)="close()"></ion-icon></h1>
    <button ion-button (click)="signInWithFacebook()">{{ 'TUTORIAL.FB_LOGIN' | translate }}</button>
    <hr/>
    <h5>{{ 'TUTORIAL.PRIVACY_HEADER' | translate }}</h5>
    <p [innerHTML]="'TUTORIAL.PRIVACY_TEXT' | translate"></p>
       
       

</ion-content>