<ion-header>

  <ion-navbar>
    <ion-title>{{'PRIVACY'  | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Zuletzt aktualisiert am: 11.05.2017</h3>

  <p>Sportshout (im Weiteren auch: „wir“ und „uns“) respektiert die Privatsphäre seiner Nutzer (im Weiteren: „Sie“) und hat
    diese Datenschutzbestimmungen ausgearbeitet, um zu demonstrieren, dass wir uns für den Schutz Ihrer Privatsphäre engagieren.
    In diesen Datenschutzbestimmungen werden die Informationen, die wir erfassen, beschrieben. Es wird definiert, wie diese
    Informationen verwendet werden, mit wem sie geteilt werden können und welche Auswahlmöglichkeiten Sie über derartige
    Verwendungszwecke und Offenlegungen haben. Wir empfehlen, diese Datenschutzbestimmungen sorgfältig zu lesen, wenn Sie
    unsere App oder Dienste nutzen oder Geschäfte mit uns tätigen. Mit der Nutzung unserer Website, App und anderen Online-Diensten
    (im Weiteren: unsere „Dienste“) akzeptieren Sie die in diesen Datenschutzbestimmungen beschriebenen Praktiken.</p>
  <p>Sollten Sie Fragen zu unseren Datenschutzpraktiken haben, lesen Sie bitte die Informationen am Ende dieser Datenschutzbestimmungen
    darüber, wie Sie uns erreichen können.</p>
  <p>Informationen, die wir über Sie erfassen</p>
  <p><strong>Allgemein</strong> Wir können persönliche Informationen, einschließlich sensibler Daten und andere Informationen
    erfassen. „Persönliche Informationen&#8220; bedeutet, individuell identifizierbare Angaben, die es uns ermöglichen würden,
    die tatsächliche Identität einer bestimmten, lebenden Person festzustellen und diese zu kontaktieren. Sensible Daten
    schließen Informationen, Kommentare oder Inhalte (z. B. Fotos, Videos, Profil, Lifestyle) ein, die Sie optional bereitstellen,
    und die eventuell Ihre ethnische Herkunft, Nationalität, Religion und/oder sexuelle Orientierung preisgeben. Mit der
    Übermittlung sensibler Daten stimmen Sie der Erfassung, Nutzung und Weitergabe der sensiblen Daten in dem nach den maßgeblichen
    Datenschutzgesetzen erlaubten Rahmen zu. Mit Ihrer Zustimmung können wir auch Ihre Geolokalisierungsdaten erfassen. Wir
    können diese Informationen über eine Website, mobile Applikation oder andere Online-Dienste erfassen. Mit der Nutzung
    des Dienstes berechtigen Sie uns, Daten in Zusammenhang mit der Bereitstellung des Dienstes zu erfassen, zu analysieren
    und aufzubewahren. Wenn Sie persönliche Informationen über unseren Dienst bereitstellen, können die Informationen an
    Server in den USA und Länder der ganzen Welt gesendet werden.</p>
  <p><strong>Von Ihnen bereitgestellte Informationen.</strong> Um sich als Nutzer bei Sportshout zu registrieren, werden Sie
    gebeten, sich mit Ihren zu registrieren oder anzumelden. Wenn Sie das tun, berechtigen Sie uns, auf bestimmte Informationen,
    wie Ihre E-Mail-Adresse, Interessen, Geschlecht, Geburtstag, Ausbildung, Ihre Interessen in Beziehungen, derzeitiger
    Ort, Fotos, persönliche Beschreibung, Freundesliste und Informationen über Sie, die Sie mit anderen SportShout-Nutzern
    gemein haben. Wenn Sie den Dienst herunterladen oder nutzen, werden Sie außerdem gebeten, es SportShout zu ermöglichen,
    Ihre Standortinformationen von Ihrem Gerät zu erfassen. Darüber hinaus erfassen und speichern wir sämtliche persönlichen
    Informationen, die Sie uns zur Verfügung stellen, wenn Sie unseren Dienst nutzen. Dazu gehören eventuell identifizierende
    Informationen, wie Ihr Name, Ihre Adresse, E-Mail-Adresse und Telefonnummer und, falls Sie Geschäfte mit uns tätigen,
    Ihre finanziellen Informationen. Sie können uns eine persönliche Beschreibung und Informationen über Ihr Geschlecht und
    Ihre Präferenzen für Empfehlungen, wie Suchentfernung, Altersgruppe und Geschlecht bereitstellen. Wenn Sie mit anderen
    SportShout-Nutzern chatten, stellen Sie uns den Inhalt Ihrer Chats zur Verfügung und wenn Sie uns mit einer Kundenanfrage
    oder einer anderer Erkundigung kontaktieren, stellen Sie uns den Inhalt dieser Kommunikation zur Verfügung.</p>
  <p><strong>Informationen aus anderen Quellen.</strong> SportShout ist Teil der iBrains-Media-Solutions GmbH (im Weiteren:
    „iBrains“), zu der zum Zeitpunkt der Ausarbeitung dieser Bestimmungen weitere Websites und Apps wie z.B. CookShout gehören.
    Wir erhalten möglicherweise sowohl persönliche als auch nicht-persönliche Daten über Sie von anderen iBrains-Unternehmen,
    Geschäftspartnern und anderen Dritten.</p>
  <p><strong>Verwendung von Technologien zur Erfassung von Informationen.</strong> Wir verwenden verschiedene Technologien,
    um Informationen von Ihrem Gerät und über Ihre Aktivitäten bei unserem Dienst zu erfassen.</p>
  <p><strong>Automatisch erfasste Informationen.</strong> Wir erfassen Informationen von Ihrem Browser oder Gerät, wenn Sie
    unseren Dienst besuchen. Zu diesen Informationen gehören möglicherweise Ihre IP-Adresse, Ihre Geräteidentifikation und
    Ihr Gerätetyp, Ihr Browser-Typ und -Sprache, das von Ihrem Gerät verwendete Betriebssystem, Zugangszeiten, der geografische
    Standort Ihres Geräts, während unsere App ausgeführt wird und die Adressen von verlinkten Websites.</p>
  <p><strong>Cookies, die Verwendung von Cookies und ähnlicher Daten.</strong> Wenn Sie unseren Dienst besuchen, weisen wir
    Ihrem Gerät möglicherweise einen oder mehrere Cookies oder andere Technologien zu, die die Personalisierung vereinfachen,
    um den Zugang zu unserem Dienst zu erleichtern und um Ihre Erfahrung persönlicher zu gestalten. Durch die Verwendung
    von Cookies erfassen wir möglicherweise außerdem Informationen über Ihre Aktivitäten bei unserem Dienst, wie die Seiten,
    die Sie besuchen, die Zeit und das Datum Ihrer Besuche und die Links, die Sie anklicken. Wenn wir werben, nutzen wir
    (oder Dritte) bestimmte auf unserem Dienst erfasste Daten, um Ihnen SportShout-Werbung auf anderen Seiten oder Apps zu
    zeigen.</p>
  <p><strong>Pixel-Tags.</strong> Wir betten Pixel-Tags (sogenannte Web-Beacons oder Einpixel-GIFs) auf Websites, Anzeigen und
    E-Mails ein. Diese winzigen, unsichtbaren Grafiken werden dazu verwendet, auf Cookies zuzugreifen und Nutzeraktivitäten
    zu verfolgen (zum Beispiel wie oft eine Seite angesehen wird). Wir verwenden Pixel-Tags, um die Popularität unserer Funktionen
    und Dienste zu messen. Werbefirmen verwenden Pixel-Tags außerdem, um die Anzahl der angezeigten Anzeigen und deren Leistung
    zu messen (z. B. wie viele Menschen auf die Anzeige klicken).</p>
  <p><strong>Mobilgerät-Identifikation</strong> Wenn Sie unsere App verwenden, verwenden wir statt Cookies die Mobilgerät-Identifikation
    (der einzigartige Identifikator, der Ihrem Gerät vom Hersteller zugewiesen wird), oder Werbe-IDs (für iOS 6 und später),
    um Sie zu erkennen. Wir tun dies, um Ihre Präferenzen zu speichern und Ihre Nutzung unserer App zu verfolgen. Im Gegensatz
    zu Cookies, können Geräte-IDs nicht gelöscht werden, aber Werbe-IDs können in den „Einstellungen“ des iPhones zurückgesetzt
    werden. Werbefirmen verwenden die Geräte-ID oder Werbe-ID auch dazu, Ihre Nutzung der App und die Anzahl der angezeigten
    Anzeigen zu verfolgen, die Leistung der Anzeigen zu messen und Anzeigen einzublenden, die relevanter für Sie sind. Analyse-Unternehmen
    verwenden Geräte-IDs, um Informationen zur App-Nutzung zu verfolgen.</p>
  <p><strong>Von Drittparteien für Werbezwecke erfasste Informationen.</strong> Wir ermöglichen es Dienstleistern, Werbefirmen
    und Werbenetzwerken sowie anderen Drittparteien, Anzeigen auf unserem Dienst und anderswo zu schalten. Diese Unternehmen
    verwenden möglicherweise Tracking-Technologien, wie Cookies oder Web-Beacons, um Informationen über Nutzer zu sammeln,
    die ihre Werbung ansehen oder damit interagieren. Wir übermitteln nur verschleierte oder undeutlich gemachte Informationen
    an Dritte. Bei einigen dieser Dritt-Werbefirmen handelt es sich möglicherweise um Werbenetzwerke, die Mitglieder der
    Network Advertising Initiative sind, die eine zentrale Stelle für das Opt-Out bietet, um zielgerichtete Werbung von Mitgliedsunternehmen
    nicht mehr zu bekommen (<a href="http://www.networkadvertising.org">www.networkadvertising.org</a>). Durch das Opt-Out
    wird Ihnen nicht weniger Werbung angezeigt. Um das Setzen von Cookies durch dritte Daten- oder Werbepartner abzulehnen,
    gehen Sie bitte auf <a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a>.</p>
  <p>Wie wir die Informationen nutzen, die wir erfassen</p>
  <p><strong>Allgemein</strong> Möglicherweise verwenden wir Informationen, die wir über Sie erfassen,</p>
  <p>um unsere Produkte und Dienste bereitzustellen und zu verbessern und unser Unternehmen zu steuern;</p>
  <p>um Ihr Konto zu steuern und Ihnen Kunden-Service zu bieten;</p>
  <p>um Recherchen und Analysen über Ihre Verwendung von oder Ihr Interesse an unseren Produkten, Dienstleistungen oder Inhalten
    oder Produkten, Dienstleistungen oder Inhalten anderer durchzuführen;</p>
  <p>um per E-Mail, Post, Telefon und/oder Mobilgeräten über unsere Produkte und Dienste oder die von Dritten mit Ihnen zu kommunizieren,
    die für Sie von Interesse sein könnten;</p>
  <p>um Inhalte und Werbeanzeigen zu entwickeln, anzuzeigen und zu verfolgen, die auf Ihr Interesse an unserem Dienst und an
    anderen Seiten zugeschnitten sind, und Ihnen unsere Werbung anzuzeigen, wenn Sie andere Seiten besuchen;</p>
  <p>für Website- oder Mobil-App-Analytik;</p>
  <p>um Ihre Berechtigung zu überprüfen und Preise in Verbindung mit Preisausschreiben und Gewinnspielen zu übergeben;</p>
  <p>jegliche in unseren <a (click)="openDisclaimer()">Nutzungsbedingungen</a> aufgeführten Rechte durchzusetzen
    und auszuüben;</p>
  <p>und Funktionen und Dienste auszuführen, wie sonst zum Zeitpunkt der Erfassung beschrieben;</p>
  <p>Mit wem wir Ihre Informationen teilen</p>
  <p><strong>Mit anderen Nutzern geteilte Informationen. </strong>Wenn Sie sich als SportShout-Nutzer registrieren, wird Ihr
    Profil für andere Nutzer des Dienstes sichtbar. Anderen Nutzern (und im Falle von Weitergabefunktionen, die auf SportShout
    verfügbar sind, die Personen oder Apps mit denen ein SportShout-Nutzer Sie teilen möchte) wird es möglich sein, Informationen
    anzusehen, die Sie uns bereitgestellt haben, wie Ihren Vornamen, Ihr Alter, die ungefähre Entfernung in Kilometer, Ihre
    persönliche Beschreibung und Informationen, die Sie mit der Person, die sich Ihr Profil ansieht, gemein haben. Wenn Sie
    nach rechts wischen oder Abstimmtasten verwenden, um zu einer Person „ja“ zu sagen, werden Sie mit der Person chatten
    können, sofern diese Person auch nach rechts gewischt hat oder Abstimmtasten verwendet hat, um zu Ihnen „ja“ zu sagen,
    wenn Sie also ein Match haben. Wenn Sie mit Ihrem Match chatten, wird Ihr Match natürlich den Inhalt Ihres Chats sehen.</p>
  <p><strong>Persönliche Informationen.</strong> Mit Ausnahme der in diesen Datenschutzbestimmungen beschriebenen Fälle oder
    wenn wir Sie darüber informieren und Ihnen die Möglichkeit geben, es abzulehnen, dass Ihre persönlichen Informationen
    geteilt werden, teilen wir Ihre persönlichen Informationen nicht mit Anderen. Wir teilen Ihre persönlichen Informationen
    eventuell mit</p>
  <p><strong>Dienstanbietern.</strong> Möglicherweise teilen wir Informationen, einschließlich persönlicher und finanzieller
    Informationen, mit Dritten, die bestimmte Dienste für uns erbringen. Zu diesen Diensten gehören eventuell Auftragserfüllung,
    Kundendienst, Hilfestellung bei der Vermarktung, Geschäfts- und Verkaufsanalyse, Ad-Tracking und -Analyse, Überprüfung
    der Mitglieder, Unterstützung der Dienstfunktionalität und unterstützende Wettbewerbe, Gewinnspiele, Umfragen und andere
    Funktionen, die im Rahmen unseres Dienstes angeboten werden. Diese Dienstanbieter haben möglicherweise Zugang zu persönlichen
    Informationen, um ihre Aufgaben zu erfüllen, sind jedoch nicht berechtigt, diese Informationen weiterzugeben oder für
    andere Zwecke zu verwenden.</p>
  <p><strong>Weitere Situationen.</strong> Eventuell legen wir Ihre Informationen, einschließlich persönliche Informationen
    offen,</p>
  <p>wenn dies aufgrund einer Vorladung oder einer ähnlichen Ermittlung, eines Gerichtsbeschlusses oder eines Kooperationsersuchens
    seitens Strafverfolgungs- oder sonstigen staatlichen Behörden erforderlich ist, zur Ausübung unserer gesetzlichen Rechte,
    zur Verteidigung gegen rechtliche Ansprüche oder aufgrund anderer gesetzlicher Verpflichtungen. In solchen Fällen ist
    es möglich, dass wir Rechte geltend machen, Einspruch erheben oder wir auf unsere Rechte und/oder auf Einwände verzichten.</p>
  <p>Wenn wir der Ansicht sind, dass eine Offenlegung angemessen ist in Verbindung mit Bemühungen im Rahmen von Ermittlungen
    oder Maßnahmen in Zusammenhang mit illegalen Machenschaften, beim Verdacht auf Betrug oder anderen Fehlverhalten; zum
    Schutz und zur Verteidigung der Rechte, des Besitzes oder der Sicherheit unseres Unternehmens, unserer Nutzer, unserer
    Mitarbeiter oder anderer Personen; um das geltende Recht einzuhalten oder mit Strafverfolgungsbehörden zu kooperieren
    oder um unsere <a (click)="openDisclaimer()">Nutzungsbedingungen</a> oder andere Vereinbarungen
    oder Bestimmungen durchzusetzen.</p>
  <p>in Zusammenhang mit bedeutenden Firmentransaktionen, wie den Verkauf unseres Unternehmens, einer Veräußerung, Fusion, Zusammenlegung,
    eines Anlagenverkaufs oder im unwahrscheinlichen Fall eines Bankrotts.</p>
  <p><strong>Zusammengefasste und/oder nicht-persönliche Informationen.</strong> In jedem der oben aufgeführten Fälle können
    wir nicht-persönliche Informationen, die wir erfassen, verwenden und weitergeben. Wir können diese außerdem mit anderen
    Unternehmen der iBrains Gruppe und Drittparteien teilen, um zielgerichtete Werbung bei unserem Dienst und auf Websites
    oder Applikationen von Drittparteien zu entwickeln und bereitzustellen, und um Werbung, die Sie sehen, zu analysieren
    und darüber zu berichten. Wir können nicht-persönliche Informationen, die wir sammeln, mit weiteren nicht persönlichen
    Informationen kombinieren, die aus anderen Quellen erfasst wurden. Wir können außerdem zusammengefasste, nicht-persönliche
    Informationen oder persönliche Informationen zum Zwecke der Durchführung allgemeiner Geschäftsanalysen, Werbung, Marketing
    oder anderer geschäftlicher Zwecke in zerlegter, nicht von Menschen lesbarer Form an Dritte, einschließlich Beratern,
    Werbetreibenden und Investoren weitergeben. So können wir zum Beispiel einen Datenanbieter engagieren, der Web-Protokolldaten
    von Ihnen erfassen könnte (einschließlich Ihrer IP-Adresse und Informationen über Ihren Browser oder Ihr Betriebssystem)
    oder einen einzigartigen Cookie in Ihrem Browser einsetzen oder erkennen, der es Ihnen ermöglicht, maßgeschneiderte Anzeigen
    oder Inhalte angezeigt zu bekommen. Diese Cookies können anonymisierte demografische oder sonstige Daten widerspiegeln,
    die mit Daten verbunden sind, die Sie uns freiwillig bereitgestellt haben (wie Ihre E-Mail-Adresse), die wir mit dem
    Datenanbieter allein in zerlegter, nicht von Menschen lesbarer Form teilen. Wir können auch Ihre Geolokalisierungsinformationen
    in anonymisierter Form mit Unternehmen der Match Group und Drittparteien für oben aufgeführte Zwecke teilen. Sollten
    Sie sich gegen das Teilen Ihrer Geolokalisierungsinformationen entscheiden, stellen Sie bitte die Nutzung der SportShout-Applikation
    ein.</p>
  <p>Angabe Do Not Track</p>
  <p>Do Not Track („DNT“) ist eine Datenschutzeinstellung, die Nutzer in Ihrem Webbrowser einstellen können. DNT bietet Nutzern
    eine Möglichkeit, Websites und Dienste darüber zu informieren, dass sie nicht wünschen, dass mit der Zeit und für verschiedene
    Websites oder Online-Dienste bestimmte Informationen über Ihre Website-Besuche gesammelt werden. Wir verpflichten uns,
    Ihnen sinnvolle Entscheidungen über die Informationen, die wir sammeln anzubieten, was auch der Grund dafür ist, warum
    wir Ihnen die obigen Opt-out-Links mitteilen. Jedoch erkennen wir keine DNT-Signale und antworten nicht darauf, da die
    Internet-Branche hart daran arbeitet, zu definieren, was genau DNT bedeutet, was es bedeutet, DNT zu achten und einen
    einheitlichen Ansatz der Reaktion auf DNT zu erstellen.</p>
  <p>Websites Dritter</p>
  <p>Es gibt eine Reihe von Stellen auf unserem Dienst, wo Sie auf einen Link klicken können, um Zugang zu anderen Websites
    zu erhalten, die nicht unter diesen Datenschutzbestimmungen operieren. Wenn Sie zum Beispiel auf unserem Dienst auf eine
    Werbung klicken, werden Sie auf eine Website weitergeleitet, die wir nicht kontrollieren. Diese Websites Dritter können
    unabhängig Informationen von Ihnen anfordern und erfassen, einschließlich persönlicher Informationen und in einigen Fällen
    Informationen über Ihre Aktivitäten auf diesen Websites für uns zur Verfügung stellen. Wir empfehlen Ihnen die Datenschutzerklärungen
    aller Websites Dritter zu lesen, die Sie besuchen, indem Sie auf den „Datenschutz“-Link klicken, der für gewöhnlich im
    unteren Bereich der Website zu finden ist, die Sie besuchen.</p>
  <p>Wie Sie auf Ihre Informationen zugreifen und sie berichtigen können</p>
  <p>Wenn Sie über ein SportShout-Konto verfügen, haben Sie die Möglichkeit, Ihre persönlichen Informationen innerhalb des Dienstes
    zu überprüfen und zu aktualisieren, indem Sie Ihr Konto öffnen und zu den Einstellungen gehen. Anwendbare Datenschutzgesetze
    können Ihnen das Recht zusprechen, auf Ihre persönlichen Daten, die wir aufbewahren oder kontrollieren, zuzugreifen oder
    zu fordern, dass Fehler berichtigt und fehlende Daten vervollständigt werden. Unser Datenschutzbeauftragter wird Sie
    bei der Zugriffsanfrage unterstützen. Dies beinhaltet:</p>
  <p>die Identifikation persönlicher Informationen, die wir aufbewahren oder kontrollieren und</p>
  <p>Informationen darüber, wie persönliche Informationen, die wir kontrollieren von uns genutzt werden können oder verwendet
    wurden.</p>
  <p>Wir werden auf Anfragen innerhalb des von sämtlichen anwendbaren Datenschutzgesetzen erlaubten Zeitraums antworten, und
    alle Anstrengungen unternehmen, diese so vollständig und genau wie möglich zu beantworten. Sämtliche Berichtigungen an
    persönlichen Informationen werden unverzüglich an alle Organisationen gesendet, denen diese offengelegt wurden.</p>
  <p>Unter bestimmten außerordentlichen Umständen sind wir möglicherweise nicht imstande, Zugriff auf bestimmte persönliche
    Informationen, die wir verwalten, zu ermöglichen. Zu Sicherheitszwecken kann der Datenschutzbeauftragte nicht auf alle
    persönlichen Informationen zugreifen und diese ändern. Sollte der Zugriff oder die Berichtigung nicht möglich sein, setzen
    wir die Person, von der die Anfrage stammt, innerhalb von 30 Tagen schriftlich über die Gründe für die Ablehnung in Kenntnis.</p>
  <p>Aufbewahrung von Daten</p>
  <p>Wir bewahren Ihre Informationen nur solange auf, wie wir sie für rechtmäßige Geschäftszwecke benötigen und wie es geltende
    gesetzliche Vorschriften erlauben. Wenn Sie Ihr Konto schließen, werden wir bestimmte Daten zu Analyse-Zwecken und zur
    Vollständigkeit unserer Daten behalten, sowie um Betrug zu verhindern, unsere <a (click)="openDisclaimer()">Nutzungsbedingungen</a>    
    durchzusetzen, Maßnahmen durchzusetzen, die wir für notwendig erachten, um die Integrität unserer Dienstleistungen oder
    unserer Nutzer zu schützen und andere vom Gesetz erlaubte Maßnahmen durchzuführen. Wenn darüber hinaus bestimmte Informationen
    bereits, wie in unseren Datenschutzbestimmungen beschrieben, an Drittparteien weitergeleitet wurden, gelten bezüglich
    der Aufbewahrung dieser Informationen die Datenschutzbestimmungen der Drittparteien.</p>
  <p>Ihre Auswahlmöglichkeiten in Bezug auf die Erfassung und Verwendung Ihrer Informationen</p>
  <p>Sie können sich dafür entscheiden, uns bestimmte Informationen nicht zukommen zu lassen. Das kann jedoch dazu führen, dass
    Sie bestimmte Funktionen unseres Dienstes nicht nutzen können, da derartige Informationen erforderlich sind, um sich
    als Nutzer zu registrieren, Produkte oder Dienste zu erwerben, an Preisausschreiben, Werbeaktionen, Umfragen oder Gewinnspielen
    teilzunehmen, Fragen zu stellen oder andere Transaktionen einzuleiten.</p>
  <p>Unser Dienst kann außerdem Benachrichtigungen an Ihr Telefon oder Ihr Mobilgerät senden. Sie können diese Benachrichtigungen
    deaktivieren, indem Sie in der App auf „App-Einstellungen“ gehen oder indem Sie die Einstellungen auf Ihrem Mobilgerät
    ändern.</p>
  <p>Sie können außerdem die Informationen steuern, die von Cookies gesammelt werden. Sie können Cookies löschen oder ablehnen,
    indem Sie Ihre Browser-Einstellungen ändern. In den meisten Browsern können Sie in der Symbolleiste auf „Hilfe“ klicken,
    um Anleitungen dazu zu erhalten.</p>
  <p>Wie wir Ihre persönlichen Daten schützen</p>
  <p>Wir treffen Sicherheitsmaßnahmen, um Ihre persönlichen Informationen vor unberechtigtem Zugriff und unbefugter Offenlegung
    zu schützen. Jedoch kann kein System komplett sicher sein. Obwohl wir Schritte zum Schutz Ihrer Informationen unternehmen,
    versprechen wir daher nicht, dass Ihre persönlichen Informationen, Chats oder sonstige Kommunikation immer sicher bleiben
    werden und Sie sollten dies auch nicht erwarten. Nutzer sollten auch achtgeben, wie sie mit Ihren persönlichen Informationen
    umgehen und wie sie diese offenlegen und es vermeiden, persönliche Informationen in unsicheren E-Mails zu versenden.
    Vergleichen Sie hierzu bitte die Informationen der Federal Trade Commission unter <a href="http://www.ftc.gov/bcp/menus/consumer/data.shtm">http://www.ftc.gov/bcp/menus/consumer/data.shtm</a>    darüber, wie Sie sich vor Identitätsdiebstahl schützen können.</p>
  <p>Sie stimmen zu, dass wir elektronisch mit Ihnen über Sicherheit, Privatsphäre und Verwaltungsfragen, wie Sicherheitsübertretungen
    kommunizieren dürfen. Wir können eine Mitteilung auf unseren Dienst posten, wenn eine Sicherheitsübertretung vorliegt.
    Wir können Ihnen außerdem eine E-Mail an die E-Mail-Adresse senden, die Sie uns mitgeteilt haben. Sie haben möglicherweise
    einen Rechtsanspruch darauf, diese Mitteilung schriftlich zu erhalten. Um eine kostenlose schriftliche Mitteilung über
    Sicherheitsübertretungen zu erhalten (oder Ihre Zustimmung zum Erhalt einer schriftlichen Mitteilung zurückzuziehen),
    teilen Sie uns das bitte mit.</p>
  <p>Informationen, die Sie über sich selbst bereitstellen, während Sie unseren Dienst nutzen</p>
  <p>Wir bieten Bereiche auf unserem Dienst an, in denen Sie Informationen über sich und andere posten und mit anderen kommunizieren
    können. Solche Posts unterliegen unseren <a (click)="openDisclaimer()">Nutzungsbedingungen</a>.
    Wann immer Sie also freiwillig öffentliche Informationen auf öffentlich sichtbaren Seiten veröffentlichen, sind diese
    Informationen öffentlich sichtbar und können von anderen gesammelt und genutzt werden. Wenn Sie zum Beispiel Ihre E-Mail-Adresse
    posten, können Sie unerwünschte Nachrichten erhalten. Wir können nicht kontrollieren, wer Ihren Post liest oder was andere
    Nutzer mit der Information tun, die Sie freiwillig posten, also empfehlen wir Ihnen, hinsichtlich Ihrer persönlichen
    Informationen diskret und vorsichtig zu sein.</p>
  <p>Die Privatsphäre von Kindern</p>
  <p>Obwohl unser Dienst auf ein allgemeines Publikum ausgerichtet ist, beschränken wir die Nutzung unseres Dienstes auf Personen,
    die über 18 Jahre alt sind. Personenbezogene Daten von Kindern unter 18 Jahren werden von uns nicht wissentlich erfasst,
    aufbewahrt oder verwendet.</p>
  <p>Weiterübermittlung und Zustimmung für internationale Bearbeitung</p>
  <p>Wir sind ein wachsender Konzern mit Nutzern und Aktivitäten in verschiedenen Ländern, einschließlich der Europäischen Union.
    Wir haben Praktiken im Umgang mit Daten entwickelt, die konzipiert wurden, um sicherzustellen, dass Informationen angemessen
    geschützt werden. Wir können jedoch nicht immer wissen, von wo aus auf persönliche Informationen zugegriffen wird oder
    wo diese verarbeitet werden. Während sich unsere Hauptrechenzentren in den USA befinden, können wir persönliche Informationen
    oder andere Informationen an unsere Büros außerhalb der USA senden. Darüber hinaus können wir andere Unternehmen und
    Personen einsetzen, um Aufgaben für uns auszuführen. Wenn wir Ihre persönlichen Informationen an Dritte oder an unsere
    Mitarbeiter außerhalb der USA weitergeben, vergewissern wir uns, dass jegliche Informationen, die wir ihnen übermitteln,
    angemessen und gemäß diesen Datenschutzbestimmungen und den Anforderungen der geltenden Datenschutzgesetze geschützt
    werden.</p>
  <p><strong><u>Wenn Sie aus der Europäischen Union oder anderen Regionen mit Gesetzen für Datenerhebung und -erfassung einreisen</u></strong><strong>, beachten Sie bitte, dass Sie der Übertragung Ihrer persönlichen Daten, einschließlich sensibler Daten durch SportShout von Ihrer Region an Länder zustimmen, die kein Datenschutzrecht haben, das ein gleichwertiges Schutzniveau bietet, wie es in Ländern des Europäischen Wirtschaftsraums, einschließlich der USA, besteht. Indem Sie Ihre persönlichen Informationen bereitstellen, stimmen Sie jeglicher Übertragung und Verarbeitung in Einklang mit den vorliegenden Bestimmungen zu.</strong></p>
  <p>Keine Rechte Dritter</p>
  <p>Diese Datenschutzbestimmungen schaffen weder durchsetzbare Rechte für Dritte noch erfordern sie die Offenlegung persönlicher
    Informationen in Bezug auf Nutzer dieser Website.</p>
  <p>Änderungen dieser Datenschutzbestimmungen</p>
  <p>Wir werden unsere Datenschutzbestimmungen von Zeit zu Zeit aktualisieren, um Änderungen des Gesetzes, unserer Datenerfassungs-
    und Nutzungspraktiken, der Funktionen unseres Dienstes oder Fortschritte der Technologie widerzuspiegeln. Wenn wir Änderungen
    dieser Datenschutzbestimmungen posten, ändern wir das „zuletzt aktualisiert am“-Datum am Anfang dieser Datenschutzbestimmungen,
    was auf dem Dienst unter „Einstellungen“ und auf gepostet wird. Sie sollten regelmäßig nach der aktuellsten Version suchen,
    denn nur diese Version gilt. Wenn wir bedeutende Veränderungen an diesen Datenschutzbestimmungen vornehmen, werden wir
    Sie auf sinnvolle Weise über die Änderungen informieren, was Mitteilungen über den Dienst oder per E-Mail beinhalten
    könnte. Bitte lesen Sie die Änderungen sorgfältig durch. Ihre weitere Verwendung der Dienste nach der Veröffentlichung
    von Änderungen dieser Bestimmungen bedeutet, dass Sie diesen Änderungen zustimmen und sie diese akzeptieren. Wenn Sie
    den Änderungen nicht zustimmen, können Sie Ihr Konto löschen, indem Sie den Anweisungen unter Einstellungen folgen.</p>
  <p>Wie Sie uns kontaktieren können</p>
  <p>Sollten Sie Fragen zu diesen Datenschutzbestimmungen haben, kontaktieren Sie uns bitte wie folgt per Fax oder per Post:</p>
  <p>iBrains-Media-Solutions GmbH<br /> Haslach 79</p>
  <p>D-94568 St. Oswald</p>
  <p>Fax: (+49) 8558-91034</p>

</ion-content>