<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CHAT_MANAGE.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <div class="loading-container" *ngIf="loading; else members_loaded">
    <div class="spinnerCenter">
      <ion-spinner></ion-spinner>
    </div>
  </div>
  <ng-template #members_loaded>
    <ion-list>
      <ion-item text-wrap>
        <p text-right padding-bottom>{{'CHAT_MANAGE.CREATE_DATE' | translate:{value: (chat.createDate | amDateFormat:'LL')} }}</p>
        <h2>{{chat.subject}}</h2>
      </ion-item>
    </ion-list>

    <ng-container *ngIf="members.length > 0">
      <div class="main-label">{{ 'CHAT_MANAGE.HEADER' | translate }}</div> 
      <ion-list #mbrs>
        <ion-item-sliding *ngFor="let member of members">
          <ion-item>
            <ion-avatar item-left (click)="showProfile(member.$key)">
              <img [src]="member.image | climg:true">
            </ion-avatar>
            <h2>{{member.name}}</h2>
            <p>{{member.info}}</p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button icon-only (click)="deleteMember(member.$key, member.name)" color="accent"><ion-icon name="trash"></ion-icon></button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ng-container>
    <!--
    <ng-template #no_members>
      <div class="no-members">
        <div class="center" >
          <svgicon icon="members"></svgicon>
          {{ 'CHAT_MANAGE.NO_MEMBERS' | translate }}
        </div>
      </div>
    </ng-template>
    -->
  </ng-template>
</ion-content>