page-chat-manage {

    .loading-container {
        width: 100%;
        height: 100%;        
    }
   .spinnerCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .no-members {
        width:100%;
        height:100%;
        text-align: center;
        position:absolute;
        top:0;
        left:0;
        
        .center {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);    
        }
        .svg-icon {
        color: color($colors, primary);
        width: 20vh;
        height:20vh;
        }
  }
}
