<ion-header>
<!--
  <ion-navbar>
    <ion-title>info-location</ion-title>
  </ion-navbar>
-->
</ion-header>


<ion-content padding text-center>
  <svgicon icon="location"></svgicon>
  <h3 margin-top>{{ 'INFO_LOCATION.HEADER' | translate }}</h3>
  <p>{{ 'INFO_LOCATION.TEXT' | translate }}</p>
  <p>{{ 'INFO_LOCATION.INSTRUCTION' | translate }}</p>
  <button margin-top ion-button (click)="back()">{{ 'OK' | translate }}</button>
</ion-content>
